.products{
    /* display: flex;
    /* justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 15px;
    margin-top: 20px;
    margin-left: 25px;
    padding: 20px; */
    width: 100%;
}


  